<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBFInputPath" value="C:\Users\kumarkd\Desktop\"/>
    <add key="DBFOutputPath" value="C:\Users\kumarkd\Desktop\"/>
    <add key="SmartCardTextPath" value="C:\Users\kumarkd\Desktop\smartctl.txt"/>
    <add key="DBFLogPath" value="C:\Users\kumarkd\Desktop\DBFConverterLog.txt"/>
    <add key="SmartCardLogPath" value="C:\Users\kumarkd\Desktop\SmartCardLog.txt"/>
    <add key="WCMExePath" value="C:\Program Files (x86)\Notepad++\notepad++.exe"/>
    <add key="SmartCardFileBackUP" value="true"/>
    <add key="SmartCardFileBackUpPath" value="C:\Users\kumarkd\Desktop\BackUp\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
